*{ 
    margin: 0 auto; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Helvetica', sans-serif; 
}

body{ 
    background-color: black; 
    color: seashell; 
}

p{ 
    font-size: 1.375rem; 
    font-weight: bold; 
}
/*nav bar */
.nav__container{ 
    
    border-bottom: 1px solid seashell; 

    height: 69px; 
    width: 1280px; 

    display: flex; 
    flex-direction: row;
    align-items: center;
   
}

#logo{ 
    margin-left: 10px; 
    margin-bottom: 0px; 
    height: 50px; 
}

.nav__container ul{ 
    margin-right: 10px; 
    list-style-type: none; 
    display: flex; 
    justify-content: flex-end;
}

.nav__container ul > li{
    margin-right: 1em; 
    text-decoration: underline; 
}

/* mission styling */
.mission__container{ 
    background-image: url(images/img-mission-background.jpg); 
    
    height: 700px; 
    width: 1200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.text__container{ 
    height: 100px; 
    width: 1200px; 
    background-color: black;

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

/*tea product styling*/
.product__container{
    width: 1000px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex__photo__container{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    align-content: center; 
}

.product__label{
    text-align: center; 
}
