*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Helvetica', sans-serif; 
}

body{ 
    background-color: black; 
    color: seashell; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

p{ 
    font-size: 1.375rem; 
    font-weight: bold; 
}
/*nav bar */
.nav__container{ 
    
    border-bottom: 1px solid seashell; 

    height: 69px; 
    width: 1280px; 

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

#logo{ 
    margin-left: 10px; 
    margin-bottom: 0px; 
    height: 50px; 
}

.nav__container ul{ 
    margin-right: 10px; 
    list-style-type: none; 
    display: flex; 
    justify-content: flex-end;
}

.nav__container ul > li{
    margin-right: 1em; 
    text-decoration: underline; 
}

.nav__container ul > li > a{
    color: seashell; 
    font-size: 1.25rem; 
}
/* mission styling */
.mission__container{ 
    background-image: url(images/img-mission-background.jpg); 
    
    height: 700px; 
    width: 1200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.text__container{ 
    height: 100px; 
    width: 1200px; 
    background-color: black;

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.text__container > h2{
    margin-bottom: 1rem; 
}


/*tea product styling*/
.tea__header{ 
    text-align: center;
    margin-top: 3rem; 
    margin-bottom: 0.5rem; 
}

.tea__header > h2{
    margin: 1rem; 
}

.product__container{
    width: 1000px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex__photo__container{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    align-content: center; 
}

.photo__container{ 
    margin: 1rem; 
}

.product__label{
    text-align: center; 
    margin-top: 1rem; 
}

/*location container styling*/
.location__container{
    margin-top: 3rem; 
    background-image: url(images/img-locations-background.jpg);
 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 1200px; 
    height: 500px; 
}

.location__container > h2{ 
    font-size: 2rem; 
}
.address__container{
    margin-top: 15px; 
    display: flex; 
    justify-content: space-evenly; 

}

.address{
    height: 300px; 
    width: 300px; 
    margin-right: 40px; 
    background-color: black; 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.address > p{
    font-weight: normal; 
    font-size: 1rem; 
    margin: 1rem; 
}

/* footer styling */
.footer__container{
    height: 200px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

.copyright{
    padding-bottom: 2rem; 
    width: 1200px; 
}

